.wrapper {
    max-width: 657px;
    text-align: left;
}

.wrapper-content {
    display: flex;
    gap: 9px;
    align-items: center;
}

.h1 {
    color: var(--heading-color);
    font-weight: 700;
    font-size: 34px;
    line-height: 46.3px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 12px;
}

.time {
    color: var(--basic-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
}

.front {
    color: var(--dark-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
} 

.text {
    color: var(--basic-text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0px;
}

.question {
    color: var(--heading-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
}

.h2 {
    color: var(--heading-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 38.13px;
    margin: 0px;
    margin-top: 29px;
    margin-bottom: 29px;
}

.button-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 34px;
}