.card-wrapper {
    max-width: 350px;
    padding: 10px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.img {
    background: var(--ligth-blue-color);
    padding: 4px 15px;
    border-radius: 5px;
    margin-bottom: 16px;
}

.read {
    color: var(--blue-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    display: flex;
    align-items: center;
}

.time {
    color: var(--basic-text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
}

.front {
    color: var(--dark-text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    margin-right: 6px;
}

.point {
    margin-right: 4px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.top-content {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.h2 {
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    margin: 0px;
    margin-bottom: 6px;
}

.p {
    margin: 0px;
    margin-bottom: 21px;
}

.p, .link {
    color: var(--basic-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.link {
        text-decoration: none;
        border-bottom: 1px solid var(--basic-text-color);
    }

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2px;
}

