.input {
    padding: 18px 0px 19px 29px;
    background: var(--background-color);
    border: 2px solid #28282829;
    border-radius: 8px;
    max-width: 643px;
    width: 100%;
}

.input::placeholder,
.textArea::placeholder {
    color: #4E5D7C80;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

.textArea {
    padding: 18px 0px 67px 29px;
    background: var(--background-color);
    border: 2px solid #28282829;
    border-radius: 8px;
    max-width: 643px;
    width: 100%;
}

.errorMessage {
    color: #155724;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 25px;
    margin-top: 12px;
}