:root {
  --background-color: #FFFFFF;
  --border-color: #F5F5F5;
  --basic-text-color: #6E6E6E;
  --dark-text-color: #4B4B4B;
  --blue-color: #1473E6;
  --heading-color: #2C2C2C;
  --ligth-blue-color: #E5F4FF;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open_Sans",
    serif;
  color: black;
  background: var(--border-color);
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}